
:root {
--font-serif: 'G', serif;
--font-sans-serif: 'Work Sans', sans-serif;

--xl: 300px;
--lg: 130px;
--md: 768px;
--sm: 576px;
--white: white;
--black: black;
--primary: teal;
}

body {
	font-family: --font-sans-serif;
	line-height: 1.8;
	font-size: 18px;
	background: --white;
	color: lighten(#545d61, 20%);

}
* {
	box-sizing: border-box;
   }

.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
   
.card {
	width: 200px;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} .card img {
	max-width: 100%;
}

.card .text {
	 padding: 0 20px 20px;
   }
.card .text > button {
	 background: gray;
	 border: 0;
	 color: white;
	 padding: 10px;
	 width: 100%;
	 }
	.card:nth-child(1) {
	 width: 420px;
	}
	
.ckpp-aside{
	height: 100vh;
	width: 300px;
	position: fixed;
	top: 0;
	float: left;
	min-height: 500px;
	overflow-y: scroll;
	transition: .3s all ease;
	background: --white;
	z-index: 10;
	font-size: 16px;
	line-height: 1.5;
}

.ckpp-aside .ckpp-site-logo {
	padding: 30px 30px 30px 30px;
	position: relative;
}

.ckpp-aside .ckpp-site-logo .ckpp-logo {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: --black;
	color: --primary;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.ckpp-aside .ckpp-nav {
	padding-left: 30px;
}

.ckpp-aside .ckpp-nav ul{
	padding: 0;
	margin: 0;
}

.ckpp-aside .ckpp-nav ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	padding: 0;
	margin: 0 0 10px 0;
	display: block;
	list-style: none;
	float: left;
	width: 100%;
}

.ckpp-aside .ckpp-nav ul li a {
	color: --black;
	padding: 3px 0;
	float: left;
	position: relative;
}

.ckpp-aside-social {
	display: inline-block;
}

.ckpp-aside-social li {
	display: inline-block;
}

.ckpp-aside-social a{
	display: inline-block;
	color: lighten (--black, 40%);
	font-size: 20px;
}

.ckpp-main :before{
	background: rgba(0,0,0,.5);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
	visibility: hidden;
	opacity: 0;
	transition: .6s all ease;
}

.ckpp-bar {
	position: fixed;
	top: 0;
	padding: 20px 0;
	z-index: 5;
	background: --white;
	width: calc(100% - 250px);
	transform: translateY(-100%);
}

.ckpp-main .ckpp-bar .ckpp-toggle {
	position: absolute;
	left: 15px;
	font-size: 20px;
	color: --black;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
}





